/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'PT Serif', serif;
  color: #39474E; }

/* unvisited link */
a:link {
  color: #6FBBB7; }

/* visited link */
a:visited {
  color: #6FBBB7; }

/* mouse over link */
a:hover {
  color: #80c3c0; }

/* selected link */
a:active {
  color: #5eb3ae; }

header, section, footer {
  width: 100%; }

section {
  padding: 90px 0 90px 0; }

.wrapper {
  margin: 0 auto;
  width: 1140px;
  position: relative; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

header {
  background-color: #39474E;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 1000; }
  header .loader {
    width: 100%;
    height: 10px;
    background-color: #F5F5F5;
    position: absolute;
    top: 110px; }
  header .progress {
    position: absolute;
    bottom: 0;
    background-color: #6FBBB7;
    width: 20%;
    height: 10px; }
  header .course-list {
    float: left;
    position: relative;
    padding-top: 36px;
    background-color: #2e3a3f;
    width: 50%;
    height: 100%;
    /*left: -20px;*/
    padding-left: 20px;
    display: block; }
    header .course-list img {
      position: absolute;
      left: -100px;
      top: 16px; }
    header .course-list span {
      font-size: 1.25em;
      color: #FFF;
      text-decoration: none; }
    header .course-list .course-time {
      position: absolute;
      display: inline-block;
      right: 20px;
      color: #F5F5F5;
      background-color: #1C2326;
      border-radius: 15px;
      padding: 5px 15px;
      font-style: italic; }
  header .course-nav {
    float: left;
    position: relative;
    width: 50%;
    height: 100%; }
    header .course-nav img {
      position: absolute;
      display: inline-block;
      right: 0;
      padding-top: 20px; }
    header .course-nav h4 {
      display: inline-block;
      color: #FFF;
      position: absolute;
      right: 80px;
      padding-top: 40px; }

nav {
  position: absolute;
  top: 100px;
  background: #1C2326;
  z-index: 55;
  width: 570px;
  height: 540px;
  border-radius: 0 0 6px 6px; }
  nav li {
    padding: 30px 0;
    border-bottom: 1px solid rgba(245, 245, 245, 0.1); }
    nav li:last-child {
      padding-left: 40px;
      border-bottom: none; }
  nav a {
    padding-left: 40px;
    color: white !important;
    text-decoration: none; }

.chapter {
  background-color: #FFF;
  padding-top: 150px; }

.intro {
  background-color: #FFF; }

.code-sample {
  background-color: #F5F5F5; }

.video-lesson {
  background-color: #FFF; }
  .video-lesson .box-left {
    width: 48%;
    float: left;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 30px;
    margin: 40px 2% 0 0; }
    .video-lesson .box-left li {
      padding-left: 35px;
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid rgba(28, 35, 38, 0.1); }
      .video-lesson .box-left li span {
        position: absolute;
        left: 460px;
        font-size: .85em;
        font-style: italic; }
    .video-lesson .box-left h3 {
      margin-bottom: 30px; }
    .video-lesson .box-left .project-icon {
      background: url(../images/project-icon.png) left top no-repeat;
      padding-top: 0; }
    .video-lesson .box-left .vid-icon {
      background: url(../images/video-icon.png) left center no-repeat; }
    .video-lesson .box-left .flat-icon {
      background: url(../images/download-icon.png) left center no-repeat;
      border-bottom: none; }
  .video-lesson .box-right {
    width: 48%;
    float: left;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 30px;
    margin: 40px 0 0 2%;
    text-align: center;
    min-height: 270px; }
  .video-lesson p {
    font-size: 1em;
    font-style: italic;
    margin-top: 20px; }

.code-challenge {
  background-color: #F5F5F5; }
  .code-challenge .quiz-header .loader {
    background-color: gainsboro; }

.quiz-header {
  background-color: #39474E;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: relative; }
  .quiz-header p {
    color: #FFF;
    display: inline-block; }
  .quiz-header span {
    color: rgba(255, 255, 255, 0.5);
    display: block; }
  .quiz-header .loader {
    width: 100%;
    height: 10px;
    background-color: #F5F5F5;
    margin-left: -20px;
    position: absolute;
    top: -10px;
    border-radius: 4px 4px 0 0; }
  .quiz-header .progress {
    width: 25%;
    height: 10px;
    background-color: #6FBBB7;
    border-radius: 4px 0 0 0; }
  .quiz-header .green-btn {
    padding: 10px 30px;
    background-color: #6FBBB7;
    color: #FFF;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 20px; }
  .quiz-header .black-btn {
    padding: 10px;
    background-color: #1C2326;
    color: #FFF;
    border-radius: 4px;
    text-decoration: none; }
  .quiz-header .btn-wrapper {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    z-index: 10; }

.quiz {
  background-color: #FFF; }
  .quiz .answer-wrapper {
    width: 100%;
    border: 2px solid #F5F5F5; }

.answer {
  height: 100px;
  padding: 35px;
  display: block;
  border-bottom: 2px solid #F5F5F5;
  color: #39474E;
  text-decoration: none;
  cursor: pointer; }
  .answer:last-child {
    border-bottom: none; }
  .answer:hover {
    background-color: #F5F5F5; }
  .answer.is-chosen {
    background-color: gainsboro; }

.summary {
  background-color: #F5F5F5; }

footer {
  background-color: #39474E; }

nav {
  display: none; }
  nav.is-visible {
    display: block; }

h1 {
  font-size: 3em;
  font-weight: bold; }

h2 {
  font-size: 2.25em;
  font-weight: normal;
  padding-bottom: 20px; }

h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 30px; }

p {
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 40px; }

.chapter-title {
  font-style: italic;
  margin-bottom: 10px; }

.chapter-meta {
  display: inline-block;
  vertical-align: top;
  padding-top: 45px;
  font-style: italic; }

.chapter-meta li {
  display: inline-block;
  padding-right: 65px; }
  .chapter-meta li a {
    display: inline-block; }

.teacher {
  padding-bottom: 50px;
  border-bottom: 1px solid gainsboro; }
  .teacher img {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px; }

.intro-text {
  width: 70%;
  display: inline-block;
  vertical-align: top; }

.chapter {
  padding-bottom: 0px; }

.sidebar-wrapper {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-left: 53px; }

.sidebar {
  width: 100%;
  display: inline-block;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 40px; }
  .sidebar li {
    background: url(../images/check-icon.png) left center no-repeat;
    padding-left: 35px;
    margin-bottom: 20px;
    font-style: italic; }
  .sidebar h3 {
    margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
